## 파이썬 특강


1. 파이썬 패키지 관리자를 이용하여 라이브러리 설치하기<br>(패키지 관리자란? 가상환경이란?)
2. 변수
3. 함수
4. 클래스
5. 스코프

In [ ]:
## 가상 환경
# 전부다 라이브러리를 다운로드할 필요없다!!

# 전역(내컴퓨터에)으로 라이브러리를 관리하다보면 ... 문제이다!
# 가상환경 <- 패키지 설치
# 우선 진입부터

# 패키지를 깔아.. 가상환경에.. 막 사용하다가
# 나오면 리스트들은 없다
# 다시 들어가서 사용하면 됨

In [ ]:
# pip 으로 버전 맞추기
#   -- 부모 자식 관계
## 파이썬을 따라간다
## 버전이 다르면 실행이 다를 수 있다!

### 변수

- 변수란 데이터가 담기는 그릇(공간)
- (단) 객체지향 언어에서는 이 개념이 참조 변수를 이해하는데 방해가 된다
- 변수는 객체에 붙은 레이블(이름표)이라고 생각하는 것이 좋다

In [3]:
a = (111, True, 'aaa')
a

In [4]:
b = [111, True, 'aaa']
b

[111, True, 'aaa']

In [5]:
a = b = c = 777
a, b, c

(777, 777, 777)

In [6]:
a

777

### 파이썬에는 변수의 자료형으로 숫자, 문자, 불리언, 리스트, 튜플, 딕셔너리, 셋이 존재함

In [7]:
# 할당문의 경우 오른쪽 부분이 먼저 실행된다
a = [1, 2, 3]
b = a
a.append(4)
b

## 이름만 다른 사실상 동일 객체

[1, 2, 3, 4]

In [8]:
## 객체가 생성된 후, 변수가 객체에 할당됨

class Gizmo:
    def __init__(self):
        print('Gizmo id : ' f'{id(self)}')

In [9]:
x = Gizmo()

Gizmo id : 140405031171216

In [10]:
#y = Gizmo() * 10

In [11]:
## 할당문의 오른쪽에서 객체를 생성한 후, 
## 레이블을 붙이듯 할당문 왼쪽에 있는 변수가 객체에 바인딩됨
## 여러 레이블을 붙이는 것을 별명

### 정체성, 동질성, 별명

In [12]:
# 동일한 객체를 참조하는 사례

byeon = {'name': 'Mingi', 'born': 1992}
billy = byeon

print(billy is byeon)
id(billy), id(byeon)

True

(140405031433152, 140405031433152)

In [13]:
billy['age'] = 29
byeon

{'name': 'Mingi', 'born': 1992, 'age': 29}

In [14]:
# 값은 같으나 정체성이 다른 사례

byeonzzi = {'name': 'Mingi', 'born': 1992, 'age': 29}
byeonzzi == byeon

True

In [15]:
byeonzzi is byeon

False

In [16]:
## byeonzzi와 byeon은 동일한 값을 가지고 있기 때문에 == 연산자에 의해 동일하다고 판단
## 하지만 정체성은 다르다
## a is not b는 두 객체의 정체성이 다르다고 표현하는 파이썬 방식
## 정체성은 메모리 내의 객체 주소라 생각할 수 있으며 is 연산자가 두 객체의 정체성을 비교함
### id() 함수로 정체성의 id를 반환한다
### 실제 프로그래밍에선 주로 is 연산자를 사용한다

- is 연산자는 오버리딩할 수 없고, 연산이 간단해서 속도가 빠르다
- a == b는 a.__eq__(b)의 편리 구문이다

In [17]:
# 튜플의 상대적 불변성

## 참조된 항목이 가변형이면 튜플 자체는 불변형이지만 참조된 항목은 변할 수 있음

t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2

True

In [18]:
id(t1[-1])

140405031640992

In [19]:
t1[-1].append(99)
t1

(1, 2, [30, 40, 99])

In [20]:
id(t1[-1])

140405031640992

In [21]:
t1 == t2

False

In [22]:
## 정체성(id)은 동일하지만 값은 변경됨

### 기본 복사는 얕은 복사이다

##### 복사하는 가장 쉬운 방법은 자료형 자체의 내장 생성자를 사용하는 것

- list(), tuple(), dict() 등
- 리스트나 가변형 시퀀스의 경우 l2 =l1[:] 같이 [:]로도 얕은 복사 사본을 생성함
- 얕은 사본시 모든 항목이 불변형이면 메모리 절약/문제X, 가변 항목이 들어가면 문제 발생

In [23]:
## 얕은 복사 (shallow copy)
import copy

a = [1,2,[3,4,5]]
b = copy.copy(a)
a[0] = 666
print(a)                     # immutable 원소인 1이 새로운 객체 666으로
print(b)

[666, 2, [3, 4, 5]]
[1, 2, [3, 4, 5]]

In [24]:
a = [1,2,[3,4,5]]
b = copy.copy(a)
a[2][0] = 0
print(a)                     # 복합 객체의 mutable 원소는 그대로 공유!!!
print(b)

[1, 2, [0, 4, 5]]
[1, 2, [0, 4, 5]]

In [25]:
a = [1,2,[3,4,5]]
b = a[:]
a[0] = 0
a[2][0] = -999
print(a)
print(b)

[0, 2, [-999, 4, 5]]
[1, 2, [-999, 4, 5]]

### 깊은 복사와 앝은 복사

##### deepcopy() : 깊은 복사
    - 객체에 순환 참조가 있으면 무한루프에 빠질 수 있음
    - 너무 깊이 복사하는 경우도 존재 : 복사하면 안되는 외부 리소스나 싱글턴을 객체가 참조하는 경우
    
##### copy() : 얕은 복사

In [26]:
import copy
a = [1,2,[3,4,5]]
b = copy.deepcopy(a)
a[2][0] = 0
print(a)
print(b)                     # mutable 원소도 완전히 다른 객체로   
print(id(a[2]))
print(id(b[2]))

[1, 2, [0, 4, 5]]
[1, 2, [3, 4, 5]]
140405031306016
140405031434032

### 01. 파이썬 시작하기

In [27]:
print("Hello World")

Hello World

In [28]:
print("Mary\'s cosmetics")

Mary's cosmetics

In [29]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [30]:
print(r'"C:\Windows"')

"C:\Windows"

In [31]:
## print 함수의 sep 인자로 ";" 입력
print('naver','kakao','samsung', sep=";")

naver;kakao;samsung

In [32]:
print('naver','kakao','samsung', sep="/")

naver/kakao/samsung

In [33]:
## 줄바꿈 없이 출력  end = ""
print("first", end="");print("second")

firstsecond

In [34]:
print(f"{5/3}")
print(5/3)

1.6666666666666667
1.6666666666666667

### 02. 파이썬 변수

In [35]:
s = 'hello'
t = 'python'
print(f'{s}! {t}')

hello! python

In [36]:
## 문자열 정수로 변환
num_str = "720"
int(num_str)

720

In [37]:
## 문자열 실수로 변환
num_str = "15.79"
float(num_str)

15.79

In [38]:
year = "2020"
int_year = int(year)
print(int_year, int_year-1, int_year-2)

2020 2019 2018

In [39]:
monthly = 48584
month = 36
air_c_price = monthly * month
print(air_c_price)

1749024

### 03. 파이썬 문자열

In [40]:
## 문자열 인덱싱
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [41]:
## 문자열을 거꾸로 뒤집어 출력
string = "PYTHON"
b = ""
for i in range(1,len(string)+1):
    a = string[-i]
    b += a
print(b)

NOHTYP

In [42]:
print(string[::-1])

NOHTYP

In [43]:
## url 에서 도메인 출력
url = "http://sharebook.kr"
print(url[url.find(".")+1:])

kr

In [44]:
print(url.split(".")[-1])

kr

In [45]:
## 문자열은 immutable(불변성)
lang = 'python'
# lang[0] = 'P'
# print(lang)

In [46]:
### 문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할달(assignment) 메서드를 
### 지원하지 않음을 알 수 있다

In [47]:
string = 'abcd'
string.replace('b', 'B')
print(string)

## abcd가 그대로 출력된다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문이다. 
## replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해준다.

abcd

In [48]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름: {name1} 나이: {age1}\n이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [49]:
분기 = "2020/03(E) (IFRS연결)"
분기[0:7]

'2020/03'

In [50]:
# capitalize 메서드
string = 'hello'
string.capitalize()

'Hello'

In [51]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx')      # 입력 문자와 같이 끝나는가?

True

In [52]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx' or 'xls')

True

In [53]:
file_name.endswith(("xlsx", "xls"))

True

In [54]:
data = "039490      "
print(f"\"{data.rstrip()}\"")
print(f"\"{data}\"")

"039490"
"039490      "

### 04. 파이썬 리스트

In [55]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_new = "슈퍼맨"

movie_rank.insert(1, movie_new)
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [56]:
movie_rank.remove('럭키')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [57]:
delete = ['스플릿', '배트맨']
# movie_rank.remove(delete)
movie_rank
## del을 이용하여 리스트에서 원소를 삭제할 수 있다
## 리스트에서 어떤 값을 삭제하면 남은 값들은 새로 인덱싱된다

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [58]:
## 여러 값을 삭제할 때는 어떤 값이 먼저 삭제된 후 남은 원소들에 대해서 순서를 새로 고려한 후 삭제 할 것!
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

del movie_rank[2]
del movie_rank[2]
movie_rank

['닥터 스트레인지', '스플릿']

In [59]:
# 두 리스트를 더하면 새롱누 리스트 생성
lang1 = ['C', 'C++', 'JAVA']
lang2 = ['Python', 'Go', 'C#']
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [60]:
# 리스트에 저장된 데이터의 개수
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
# cook.count() : x
len(cook)

12

In [61]:
# 리스트의 평균
nums = [1,2,3,4,5]
avg = sum(nums) / len(nums)
avg

3.0

In [62]:
# 슬라이싱을 사용해 리스트의 숫자를 역방향 출력

nums[::-1]

[5, 4, 3, 2, 1]

#### join 메서드

In [63]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [64]:
" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [65]:
'/'.join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [66]:
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [67]:
# 리스트 정렬
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [68]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

### 05. 파이썬 튜플

In [69]:
# 하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해야만 한다
my_tuple = (1)
print(type(my_tuple))
my_tuple = (1,)
print(type(my_tuple))

<class 'int'>
<class 'tuple'>

In [70]:
t = 1, 2, 3, 4
t

(1, 2, 3, 4)

In [71]:
interest = ('삼성','LG','SK')
interest_list = list(interest)
interest_list

['삼성', 'LG', 'SK']

In [72]:
interest = tuple(interest_list)
interest

('삼성', 'LG', 'SK')

In [73]:
# 튜플 언팩킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [74]:
# 1부터 99까지의 정수 중 짝수만 저장된 튜플 생성
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

### 06. 파이썬 딕셔너리

In [75]:
## 별 표현식
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)

0
1
[2, 3, 4, 5]

In [76]:
## 별 표현식 10개의 저장된 값 중 좌측 8개의 값만 저장
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, _, _ = scores
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [77]:
a, *valid_score, b = scores
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [78]:
# 딕셔너리 정보 추가
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice['죠스바'] = 1200
ice['월드콘'] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [79]:
ice['메로나']

1000

In [80]:
ice['메로나'] = 1300
ice

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [81]:
del ice['메로나']
ice

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [82]:
## 딕셔너리에 없는 키를 사용해서 인덱싱 하면 에러 발생

In [83]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][0], "원")
print(str(inventory['메로나'][1]) + "개")

300 원
20개

In [84]:
ice = list(inventory.keys())
ice

['메로나', '비비빅', '죠스바']

In [85]:
#sum(inventory.values())

In [86]:
## .updata()
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [87]:
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라
keys = ('apple', 'pear', 'peach')
vals = (300, 250, 400)
fruit = dict(zip(keys, vals))        # zip( ) 한 후에 dict( )로 변환
fruit

{'apple': 300, 'pear': 250, 'peach': 400}

In [88]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

dict(zip(date, close_price))

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

### 07. 파이썬 분기문

In [89]:
# 입력받은 문자열 두 번 출력
a = input()
print(a*2)

 안녕하세요

안녕하세요안녕하세요

In [90]:
# 홀짝 판별
a = int(input())
if a % 2 == 0:
    print("짝수")
else:
    print("홀수")

 20

짝수

In [91]:
# 입력 받은 시간이 정각인지 판별
times = input("현재시간:")
if int(times.split(':')[1]) == 0:
    print('정각 입니다.')
else:
    print('정각이 아닙니다')

현재시간: 12:30

정각이 아닙니다

In [92]:
time = input('현재시간: ')
if time[-2:] == "00":
    print("정각입니다.")
else:
    print("정각이 아닙니다")

현재시간:  12:00

정각입니다.

In [93]:
# 리스트 포함 여부
fruit = ["사과", "포도", "홍시"]
a = input("내가 좋아하는 과일은?")
if a in fruit:
    print('정답입니다')
else:
    print('아니야')

내가 좋아하는 과일은? 포도

정답입니다

In [94]:
# 딕셔너리 판별
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은:  봄

정답입니다.

In [95]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")
    
## 딕셔너리의 values 값은 리스트 값화된다

좋아하는 과일은? 키위

오답입니다.

In [96]:
# 입력 받은 문자가 소문자일 경우 대문자로, 대문자일 경우, 소문자로 변경
char = input("문자를 입력하세요 : ")
if char.islower():
    print(char.upper())
else: 
    print(char.lower())
    
## 메소드 다음 () 확인할 것!!!

문자를 입력하세요 :  asddr

ASDDR

In [97]:
a = "asda"
a.islower()

True

In [98]:
a.upper()

'ASDA'

In [99]:
# 환율
rate = {'달러': 1167, '엔': 1.096, '유로':1268, '위안':171}

money = input("하우머치유헤브? ")
money_c = money.split(" ")[0]
money_w = money.split(" ")[1]

if money_w in rate:
    print(rate[money_w] * float(money_c),"원")
else:
    print("돈을 가져와")

하우머치유헤브?  4 달러

4668.0 원

In [100]:
user = input("입력: ")
num, currency = user.split()
print(float(num) * rate[currency], "원")

입력:  4 달러

4668.0 원

In [101]:
# 세 개의 숫자를 입력 받은 후 가장 큰 숫자 출력
a = int(input())
b = int(input())
c = int(input())
ls = [a,b,c]
max(ls)

 20
 1
 4

20

In [102]:
if a > b and a > c:
    print(a)
elif b > a and b > c:
    print(b)
else:
    print(c)

20

In [103]:
## 휴대전화 번호 출력
tel = {'011': 'SKT', '016': 'KT', '019': 'LGU', "010": "알수없는 번호"}

num = input("휴대전화 번호 입력 : ")
num_f = num[0:3]
if num_f in tel:
    print(f"당신은 {tel[num_f]} 사용자입니다.")

휴대전화 번호 입력 :  010-3233-1321

당신은 알수없는 번호 사용자입니다.

In [104]:
## 우편번호 판별
post = input()

if post[0:3] in ['010','011','013']:
    print("강북구")
elif post[0:3] in ['013','014','015']:
    print("도봉구")
elif post[0:3] in ['016','017','018', '019']:
    print("노원구")
else:
    print("니 이사갔니?")

 012323

니 이사갔니?

In [106]:
# 주민번호 유효성 검사
num = input('주민등록번호 13자리를 입력하세요 : ')
a = 0
b = 0

for i in range(0, 13):
    if i <= 7:
        a = int(num[i]) * (2+i)
        b += a
    else:
        a = int(num[i]) * (i-6)
        b += a
var = 11 - (b % 11)
if var != int(num[-1]):
    print("이 번호는 유효하지 않습니다")
else:
    print("유효한 번호입니다")

주민등록번호 13자리를 입력하세요 :  1234567123456

이 번호는 유효하지 않습니다

In [107]:
# 비트코인 가격 정보
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

In [108]:
if (int(btc['opening_price']) + int(btc['max_price']) - int(btc['min_price'])) > int(btc['max_price']):
    print("상승장")
else:
    print("하락장")

상승장

### 08. 파이썬 반복문

## List를 다룰 때는 range를 쓰지 않은 것!

- 한번에

In [109]:
for i in [10,20,30]:
    print(i)
    print("-"*7)

10
-------
20
-------
30
-------

In [110]:
리스트 = ["SK", "삼성전자", "LG화학"]

for i in 리스트:
    print(len(i))

2
4
4

In [111]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0])

d
c
p

In [112]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트:
    if i == 리스트[0]:
        pass
    else:
        print(i)

나
다
라

In [113]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:]:
        print(i)

나
다
라

In [114]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::2]:
        print(i)

가
다

In [115]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1]:
        print(i)

라
다
나
가

In [116]:
리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [117]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [118]:
ls = ['dog', 'cat', 'parrot']

for i in ls:
    print(i.capitalize())

Dog
Cat
Parrot

In [119]:
ls = ['hello.py', 'ex01.py', 'intro.hwp']

for i in ls:
    print(i.split('.')[0])

hello
ex01
intro

In [120]:
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [121]:
# 3의 배수 출력
for num in range(3,31,3):
    print(num)

3
6
9
12
15
18
21
24
27
30

In [122]:
a = 0
for i in range(1,11,2):
    a += i
print(a)

25

In [123]:
a = 1
for i in range(1,11):
    a = a*i
print(a)

3628800

In [124]:
price_list = [32100, 32150, 32000, 32500]

for i in range(0, len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [125]:
## 리스트 자료형 자체를 반복문으로 사용한다!!
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [126]:
str_a = "python"
for i, data in enumerate(str_a):
    print(i)
    print(data)

0
p
1
y
2
t
3
h
4
o
5
n

In [127]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [128]:
my_list = ["가", "나", "다", "라"]

for i in [1,2,3]:
    print(my_list[-i],my_list[-i-1])

라 다
다 나
나 가

In [129]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [130]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    avg = (my_list[i+2] + my_list[i+1] + my_list[i]) / 3
    print(avg)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [131]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(0,3):
    for j in range(0,2):
        print(apart[i][j], '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [132]:
print(apart[0][0], '호')
print(apart[0][1], '호')
print(apart[1][0], '호')
print(apart[1][1], '호')
print(apart[2][0], '호')
print(apart[2][1], '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [133]:
## 중첩 for문으로 리스트 벗기기
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [134]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [137]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for l in data:
    for c in l:
        print(c * 1.0014)

2002.8000000000002
3054.27
2052.8700000000003
1982.7720000000002
7510.500000000001
2052.8700000000003
2052.8700000000003
1982.7720000000002
15471.630000000001
15071.070000000002
15571.77
14920.86

In [139]:
for l in data:
    for c in l:
        print(c * 1.0014)
    print('-'*4)

2002.8000000000002
3054.27
2052.8700000000003
1982.7720000000002
----
7510.500000000001
2052.8700000000003
2052.8700000000003
1982.7720000000002
----
15471.630000000001
15071.070000000002
15571.77
14920.86
----

In [140]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for l in ohlc[1:]:
    print(l[3])

100
190
310

In [141]:
valatility = []

for l in ohlc[1:]:
    valatility.append(l[1]-l[2])

print(valatility)

[40, 30, 10]

In [142]:
## 시가에 매수해서 종가에 매도 했을 경우 총 수익금
income = []
for l in ohlc[1:]:
    income.append(l[0]-l[3])
print(sum(income))

0

In [145]:
profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])
print(profit)

0

### 09. 파이썬 함수

# 함수
- 반복된 작업을 하나의 유닛으로 묶어 놓은것

### 좋은 함수란?
#### 함수 인자는 4가지 경로를 통해 함수로 전달될 수 있다
    1. 위치 인자는 필수이다. 그리고 디폴트 값을 가지면 안된다. 함수를 사용하는 사람은 이 함수들이 인자를 몇개 필요로 하는지, 어느 순서로 들어가야 하는지 기억하려고 고민할 필요가 없다.
    2. 키워드 인자는 필수값은 아니지만 디폴트값을 가진다. 키워드 인자는 선택적인 파라미터로 함수에 전달된다. 다른 값을 넣지 않으면 None으로 해석된다
    3. 임의 인자 리스트는 함수에 인자를 보내는 세번째 방법이다. 위치 인자에 추가적인 번호를 달아야 함수의 의도가 보다 잘 설명되는 경우에 *args 생성자를 쓴다. 함수 본문에서 args는 나머지 모든 위치 인자의 튜플이 된다. <br> 하지만, 생성자에는 문제점이 있다. 만약 함수가 같은 속성을 가진 인자의 리스트를 받는다면, 이 리스트는 리스트나 시퀀스의 형태를 가진 하나의 인자로 정의하는 편이 보다 명확할 때가 만하. 
    4. 임의 키워드 인자 딕셔너리는 함수에 인자를 넘기는 마지막 방식이다. 만약 함수가 필요로 하는 인자가 몇 개가 들어올지 알 수 없으되 이름이 붙어있다면, kwargs 생성자를 사용할 수 있다. 함수 본문에서 kwargs는 이름붙은 모든 인자의 딕셔너리가 되는데 이러한 인자들은 오로지 kwargs로만 받을 수 있다
- 읽기 쉽다(이름과 인자를 설명할 필요가 없다)
- 변경하기 쉽다(새 키워드 인자를 추가해도 코드의 다른 부분을 망가뜨리지 않는다)

#### 반환값
- 코드의 의도를 명확히 하면서 가독성의 수준을 유지하기 위하여, 함수 본문 안에 여러 개의 리턴문을 넣는 것은 피할 것을 추천한다
- 잘못된 입력 파라미터가 들어가거나 다른 이유로 함수의 계산이나 작업을 완료할 수 없어 에러가 발생하는 경우, 예외를 발생시키고 싶지 않다면, None 이나 False 같이 함수를 정상적으로 수행할 수 없다는 의미의 리턴값이 필요하다. 이런 경우네는 가능한 한 일찍 부정확한 구문이 발견되었음을 알리는 편이 좋다 <br> 하지만 정상적으로 코드가 돌아가는 부분에도 함수에 여러 개의 종료 지점이 있는 경우, 리턴하는 결과물을 디버깅하기 어렵다. 따라서 함수에 하나의 종료점만 두는 편을 추천한다.

#### 사용하지 않을 변수 만들기
- 사용하지 않을 변수를 가져다가 어딘가에 할당하는 경우 (예를 들면 언패킹 할 경우) __를 사용해라

In [147]:
filename = 'foobar.txt'
basename, __, ext = filename.rpartition('.')

#### 컬렉션에서 아이템을 찾을 때는 리스트 대신 해시가 들어간 셋(set)이나 딕셔너리(dictionary)를 사용하기

In [151]:
# 실행 결과

def message1():
    print('A')
    
def message2():
    print('B')
    
def message3():
    for i in range(3):
        message2()
        print('c')
    message1()
    
message3()

B
c
B
c
B
c
A

In [152]:
# 입력된 문자열을 역순으로 출력하는 함수 정의
def print_reverse(string):
    a = ""
    for i in string[::-1]:
        a += i 
    print(a)

print_reverse("python")

nohtyp

In [154]:
def print_reverse(string):
    print(string[::-1])
print_reverse("python")

nohtyp

In [156]:
# 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 출력
def print_keys(dic):
    for key in dic.keys():
        print(key)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [159]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(dic, d):
    print(dic[d])
    
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [163]:
def print_value_by_key(my_dict, key):
    print(my_dict[key])
    
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [180]:
# def print_5xn(string):
#     a = len(string)//5
#     if len(string)%5 == 0:
#         for i in range(1,a+1):
#             print(string[i*5-5:i*5])
#     else:
#         for i in range(0,a+1):
#             print(string[::5])

# print_5xn("아이엠어보이유알아아암다가")

아이암
아이암
아이암

In [181]:
# 입력 문자열을 한 줄에 다섯글자씩 출력 함수
def print_5xn(line):
    chunk_num = int(len(line)/5)
    for x in range(chunk_num + 1):
        print(line[x*5:x*5+5])
        
print_5xn("아이엠어보이유알아아암다가")

아이엠어보
이유알아아
암다가

In [183]:
def printmxn(line, num):
    chunk_num = int(len(line)/num)
    for x in range(chunk_num + 1):
        print(line[x*num:x*num+num])
        
printmxn("아이엠어보이유알아아암다가",3)

아이엠
어보이
유알아
아암다
가

In [185]:
## 함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능하다
## 함수 내부에서 계산한 값을 전달하기 위해서는 return을 사용해야 한다!!!!!

In [189]:
def make_url(adress_u):
    return "www." + adress_u + ".com"

make_url("naver")

'www.naver.com'

In [192]:
# 짝수들을 추출하여 리스트로 반환하는 함수
def pickup_even(ls):
    ll = list(filter(lambda x : x % 2 == 0,ls))
    return ll

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [195]:
## 바인딩된 함수 축약

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [197]:
def 함수1(num):
    return num + 4

def 함수2(num):
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

### 10. 파이썬 모듈

#### 파이썬 모듈은 파이썬 파일(.py)을 의미한다. 파이썬은 다양한 분야별로 모듈을 제공한다

In [198]:
# 현재시간
import datetime

now = datetime.datetime.now()
print(now)

2020-07-18 21:23:49.785543

In [199]:
# .timedelta()
now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2020-07-13 21:25:24.072782
2020-07-14 21:25:24.072782
2020-07-15 21:25:24.072782
2020-07-16 21:25:24.072782
2020-07-17 21:25:24.072782

In [200]:
# .strftime()
now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

21:26:32

In [201]:
# strptime( )
day = "2020-07-18"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))

2020-07-18 00:00:00 <class 'datetime.datetime'>

In [203]:
# sleep( )
import time
i = 0
while i < 5:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)
    i += 1

2020-07-18 21:29:13.924472
2020-07-18 21:29:14.925380
2020-07-18 21:29:15.929990
2020-07-18 21:29:16.934591
2020-07-18 21:29:17.935646

### 11. 파이썬 클래스

#### 클래스, 객체, 인스턴스

- 클래스(class)란 똑같이 무엇인가를 계속해서 만들어 낼 수 있는 틀이다
- 객체(object)란 클래스로 만든 실체를 뜻한다.
- 클래스로 만든 객체를 인스턴스라고도 한다. 
- a = Cookie() 이렇게 만든 a는 객체이다
- 그리고 a 객체는 Cookie의 인스턴스이다
- 즉, 인스턴스라는 말은 특정 객체(a)가 어떤 클래스(Cookie)의 객체인지를 관계 위주로 설명할 때 사용한다
- (한마디로) a는 객체이고, Cookie의 인스턴스이다

#### **self**가 뭐냐
- 클래스가 실체를 가진 것은 인스턴스이다
- 처음 호출 될 때 받는 값이다
    1. 네임이랑 가격을 정해서 만들어준다
    2. 실체를 가진 장난감을 찍어주기 위해서 함수처럼 인자를 받아서 init한다
- 어떤거로 찍을 지... 알지 못하는 그놈의 이름이다

In [205]:
class Human():
    def __init__(self):
        print("응애응애")

In [206]:
areum = Human()

응애응애

In [209]:
class Human:
    def __init__(self,name,age,gender):
        print("응애응애")
        self.name = name
        self.age = age
        self.gender = gender

In [210]:
areum = Human("아름", 25, "여자")

응애응애

In [211]:
areum.name

'아름'

In [213]:
class Human:
    def __init__(self,name,age,gender):
        print("응애응애")
        self.name = name
        self.age = age
        self.gender = gender
        
    def who(self):
        print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.gender}')

In [215]:
areum = Human("아름", 25, "여자")
areum.who()

응애응애
이름: 아름, 나이: 25, 성별: 여자

In [216]:
class Human:
    def __init__(self,name,age,gender):
        print("응애응애")
        self.name = name
        self.age = age
        self.gender = gender
        
    def who(self):
        print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.gender}')
        
    def setInfo(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

In [217]:
areum = Human("불명", "미상", "모름")
areum.who()

응애응애
이름: 불명, 나이: 미상, 성별: 모름

In [218]:
areum.setInfo("아름", 25, "여자")
areum.who()

이름: 아름, 나이: 25, 성별: 여자

In [273]:
class Stock:
    def __init__(self,name,code,per=None,pbr=None,dividend=None):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend
        print("관심종목이 추가되었습니다")
        
    def set_name(self,name):
        self.name = name
        
    def set_code(self,code):
        self.code = code
        
    def get_name(self):
        return self.name
        
    def get_code(self):
        return self.code
    
    def set_per(self, per):
        self.per = per

    def set_pbr(self, pbr):
        self.pbr = pbr

    def set_dividend(self, dividend):
        self.dividend = dividend

In [274]:
삼성 = Stock("삼성전자", "005930")

관심종목이 추가되었습니다

In [275]:
a = Stock(None, None)

관심종목이 추가되었습니다

In [276]:
a.set_name("삼성전자")
print(a.name)

삼성전자

In [277]:
a.set_code("005930")
print(a.code)

005930

In [278]:
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930

In [279]:
삼성 = Stock("삼성전자","005930",15.79,1.33,283)

관심종목이 추가되었습니다

In [281]:
print(삼성.dividend)

283

In [283]:
삼성.set_per(12.75)
print(삼성.per)

12.75

In [284]:
삼성 = Stock("삼성전자","005930",15.79,1.33,283)
현대 = Stock("현대차","005380",8.70,0.35,4.27)
LG = Stock("LG전자","066570",317.34,0.69,1.37)

관심종목이 추가되었습니다
관심종목이 추가되었습니다
관심종목이 추가되었습니다

In [285]:
종목 = []

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)

for i in 종목:
    print(i.code, i.per)

관심종목이 추가되었습니다
관심종목이 추가되었습니다
관심종목이 추가되었습니다
005930 15.79
005380 8.7
066570 317.34

In [59]:
import random


class Account:
    # 클래스 변수
    account_count = 0

    def __init__(self, name, balance):
        # 입금 회수 생성
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)    # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)    # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)    # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3

        Account.account_count += 1

    # 클래스 매서드

    def get_account_num():
        return print(Account.account_count)

    def deposit(self, amount):
        print("입금되었습니다")
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:
                # 이자 지급
                self.balance = (self.balance * 1.01)

    def withdraw(self, amount):
        if amount <= self.balance:
            self.withdraw_log.append(amount)
            self.balance += amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: {:,}".format(self.balance))

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)

In [35]:
lee = Account("이민기", 115)
print(lee.name)
print(lee.balance)
print(lee.bank)
print(lee.account_number)

이민기
115
SC은행
949-90-833102

In [36]:
kim = Account("이민기", 115)
print(Account.account_count)

2

In [37]:
kim = Account("김민기", 150)
print(Account.account_count)

3

In [38]:
Account.get_account_num()

3

In [39]:
k = Account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.balance)

입금되었습니다
290

In [40]:
p = Account("파이썬", 10000)
p.display_info()

은행이름:  SC은행
예금주:  파이썬
계좌번호:  583-89-915975
잔고: 10,000

In [41]:
p = Account("파이썬", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

입금되었습니다
입금되었습니다
입금되었습니다
입금되었습니다
입금되었습니다
50500.0

In [48]:
## 인스턴스 생성

data = []
k = Account("KIM", 100000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

for c in data:
    print(c.name)

KIM
LEE
PARK

In [49]:
for c in data:
    if c.balance >= 10000000:
        c.display_info()

은행이름:  SC은행
예금주:  KIM
계좌번호:  474-93-403530
잔고: 100,000,000

In [51]:
k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

입금되었습니다
입금되었습니다
입금되었습니다
100
200
300
100
200

#### 클래스 정의

In [87]:
class 차:
    def __init__(self, wheel, price):
        print("부릉부릉")
        self.바퀴 = wheel
        self.가격 = price
        
    def 정보(self):
        print(self.바퀴)
        print(self.가격)
        
        
class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

In [58]:
car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

부릉부릉
2
1000

In [96]:
## 클래스 상속

class 자전차(차):
    def __init__(self, wheel, price, control):
        print("치잉치잉")
        super().__init__(wheel, price)      ## super로 받지 않으면 오버라이딩
        self.구동계 = control
        
    def 정보(self):
        super().정보()
        print("구동계 ", self.구동계)

In [67]:
bicycle = 자전차(2, 100)
print(bicycle.가격)

치잉치잉
100

In [85]:
# class 자전차(차):
#     def __init__(self, wheel, price, control):
#         print("치잉치잉")
#         super().__init__(wheel, price)
#         self.구동계 = control

In [74]:
bicycle = 자전차(2, 100, "시마노")
print(bicycle.구동계)
print(bicycle.바퀴)

치잉치잉
부릉부릉
시마노
2

In [79]:
car = 차(4, 1000)
car.정보()

부릉부릉
4
1000

In [82]:
## 부모 클래스 생성자 호출
## 부모 클래스 메서드 호출

In [90]:
bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

치잉치잉
부릉부릉
2
100
구동계  시마노

## 메서드 오버라이딩

In [91]:
class 부모:
    def 호출(self):
        print("부모호출")
        
class 자식(부모):
    def 호출(self):
        print("자식호출")

In [92]:
나 = 자식()
나.호출()

자식호출

In [94]:
class 부모:
      def __init__(self):
        print("부모생성")

class 자식(부모):
      def __init__(self):
        print("자식생성")

In [95]:
나 = 자식()

자식생성

In [97]:
## 부모클래스 생성자 호출
class 부모:
    def __init__(self):
        print("부모생성")
        
class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()

In [98]:
나 = 자식()

자식생성
부모생성

### 파일 입출력과 예외처리

In [105]:
with open('매수종목1.txt', mode='wt', encoding='cp949') as f:
    f.write("005930\n")
    f.write("005380\n")
    f.write("035420")

In [104]:
## CSV 파일 쓰기

In [113]:
import csv

with open('매수종목.csv', mode='wt', encoding='cp949') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["종목명", "종목코드", "PER"])
    writer.writerow(["삼성전자", "005930", 15.59])
    writer.writerow(["NAVER", "035420", 55.82])

### 예외처리 및 리스트에 저장

In [114]:
# 문자열 값을 실수로 변환활 때 에러 발생. 예외처리로 에러가 발생하는 PER 0 출력

In [115]:
per = ["10.31", "", "8.00"]

try:
    for i in per:
        print(float(per))
except:
    print(0)

0

In [117]:
for i in per:
    try:
        print(float(i))
    except:
        print(0)
        
## 정상적으로 작동하면서 에러를 초해하는 값만 바꿔준다

10.31
0
8.0

In [121]:
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)    # 새롭게 데이터 저장!!!

print(new_per)

[10.31, 0, 8.0]

In [122]:
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되요")

0으로 나누면 안되요

In [126]:
# 에러문 그대로 출력하기!!!!!
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:        
        print(e)

1
2
3
list index out of range
list index out of range

In [128]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:                     #except 에 대항하여!!!!!
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료

![clear](https://t1.daumcdn.net/cfile/tistory/260A043755A5092307)